/*client/src/components/common/Input/Input.css*/


.input-group{

    display:flex;

    flex-direction:column;

    gap:8px;

    margin-bottom:20px;

}

.input-group label{

    font-weight:600;

}

.input-group input{

    padding:15px;

    border-radius:12px;

    border:1px solid #ddd;

    outline:none;

    font-size:15px;

}

.input-group input:focus{

    border-color:#2F80ED;

}